@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    justify-content: center;
    background-color: $colorSecundario_claro;
    padding: 0;
    margin: 0;
    
}

main{
    background-color: $colorSecundario_claro;
    height: 590px;
}

section{
    height: 100%;
    display: flex;
    background-color: $colorSecundario_claro;
}

article{
    width: 100%;
    background-color: $colorSecundario_claro;
}

li{
    text-align: left;
    padding: 1%;
    font-family: $tipografia_parrafo;
    list-style:none;
}

li:hover{
    background-color: $colorSecundario_claro;
}

header{
    height: 60px;
    text-align: center;
    background-color: $colorPrimario;
    font-family: $tipografia_encabezado;
}

nav {
    text-align: right;
    background-color: $colorSecundario;
    padding: 2%;
    height: 100%;
    bottom: 0;
}

nav p{
    
    font-family: $tipografia_encabezado;
}

footer{
    padding: 2%;
    justify-content: right;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: $tipografia_encabezado;
    display: flex;
    height: 60px;
    background-color: $colorPrimario;
}

.seleccionado{
    background-color: $colorPrimario_claro;
}

.imagenPrincipal{
    justify-content: center;
}