@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    justify-content: center;
    background-color: $colorSecundario_claro;
    padding: 0;
    margin: 0;
    
}

main{
    background-color: $colorSecundario_claro;
    height: 40vw;
}

section{
    height: 100%;
    display: flex;
    background-color: $colorSecundario_claro;
}

section article{
    width: 100%;
    background-color: $colorSecundario_claro;
}

section nav article{
    padding: 0;
    padding-left: 30px;
    width: 100%;
    background-color: $colorSecundario;
}

a{
    display: flex;
    width: 100%;
    text-align: left;
    color: rgb(32, 32, 32);
    text-decoration:none;
    font-family: $tipografia_parrafo;
}

header{
    border: solid 1px black;
    height: 60px;
    text-align: center;
    background-color: $colorPrimario;
    font-family: $tipografia_encabezado;
}

nav {
    text-align: center;
    background-color: $colorSecundario;
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 42vw;
    width: 15%;
    bottom: 0;
}

nav article{
    width: 100%;
    margin-bottom: 2vw;
    background-color: $colorSecundario;
}

nav p{
    justify-content: center;
    text-align: center;
    font-family: $tipografia_encabezado;
}

footer{
    border: solid 1px black;
    padding: 2%;
    justify-content: right;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: $tipografia_encabezado;
    display: flex;
    height: 60px;
    background-color: $colorPrimario;
}

.seleccionado{
    color: $colorPrimario_oscuro;
}

.imagenPrincipal{
    justify-content: center;
}

.contenido{
    margin-top: 20px;
    margin-left: 30px;
}

@media(max-width:1400px){
    nav {
        text-align: right;
        background-color: $colorSecundario;
        width: 16%;
        height: 40vw;
        font-size: small;
       
    }
    nav article{
        width: 100%;
        background-color: $colorSecundario;
        margin-bottom: 1vw;
    }

    .contenido{
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media(max-width:800px){
    nav {
        text-align: right;
        background-color: $colorSecundario;
        padding-right: 1%;
        width: 50%;
        height: 90vw;
       
    }
    nav article{
        width: 100%;
        background-color: $colorSecundario;
        margin-bottom: 4vw;
    }

    .contenido{
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media(max-width:500px){

    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $colorSecundario_claro;
    }

    nav {
        text-align: center;
        background-color: $colorSecundario;
        height: 200vw;
        width: 100%;
       
    }

    .seleccionado{
        color: $colorPrimario_oscuro;
    }

    .contenido{
        
        height: 80vw;
        margin-bottom: 10%;
    }

    footer{
        border: solid 1px black;
        padding: 2%;
        justify-content: right;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: $tipografia_encabezado;
        display: flex;
        height: 60px;
        background-color: $colorPrimario;
    }
}

