@import 'variables';

*{
    box-sizing: border-box;
    margin: 0;
}
body{
    justify-content: center;
    background-color: $colorSecundario_claro;
    padding: 0;
    margin: 0;
    
}

main{
    background-color: $colorSecundario_claro;
    height: 40vw;
}

section{
    height: 100%;
    display: flex;
    background-color: $colorSecundario_claro;
}

section article{
    width: 100%;
    background-color: $colorSecundario_claro;
}

section nav article{
    padding: 0;
    padding-left: 30px;
    width: 100%;
    background-color: $colorSecundario;
}

a{
    display: flex;
    width: 100%;
    text-align: left;
    color: rgb(32, 32, 32);
    text-decoration:none;
    font-family: $tipografia_parrafo;
}

header{
    display: flex;
    border: solid 1px black;
    height: 60px;
    justify-content: center;
    background-color: $colorPrimario;
    font-family: $tipografia_encabezado;
}

nav {
    padding-left: 1%;
    text-align: center;
    background-color: $colorSecundario;
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 40vw;
    width: 20%;
    bottom: 0;
}

nav article{
    width: 100%;
    margin-bottom: 2vw;
    background-color: $colorSecundario;
}

nav p{
    justify-content: center;
    text-align: left;
    font-family: $tipografia_encabezado;
}

footer{
    border: solid 1px black;
    padding: 2%;
    justify-content: right;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    font-family: $tipografia_encabezado;
    display: flex;
    height: 60px;
    background-color: $colorPrimario;
}

img{
    width: 30%;
    height: auto;
}

#imagen{
    text-align: center;
    padding: 2%;
}

#logo img{
    width: 10%;
    height: auto;
}


#logo{
    width: 30%;
    text-align: left;
    height: 100%;

}

#titulo{
    width: 30%;
    height: 100%;
    text-align: center;
}

#form{
    width: 30%;
    height: 100%;
    margin-top: 1vw;
    text-align: right;
}

.seleccionado{
    color: $colorPrimario_oscuro;
}

.contenido{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.texto{
    font-family: $tipografia_parrafo;
}

@media(max-width:800px){
    nav {
        padding-left: 1%;
        text-align: right;
        background-color: $colorSecundario;
        padding-right: 1%;
        width: 50%;
        height: 80vw;
       
    }
    nav p {
        text-align: left;
       
       
    }
    nav article{
        width: 100%;
        background-color: $colorSecundario;
        margin-bottom: 4vw;
    }

    img{
        width: 35%;
        height: auto;
    }

    #logo{
        width: 20%;
        text-align: right;
        height: 100%;
    
    }
    
    #titulo{
        width: 80%;
        height: 100%;
        text-align: center;
    }

    #form{
        display: none;
    }

    .contenido{
        margin-top: 20px;
        margin-left: 30px;
    }
}

@media(max-width:500px){
    body{
        display: flex;
        flex-direction: column;
    }

    section{
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $colorSecundario_claro;
    }

    nav {
        text-align: center;
        background-color: $colorSecundario;
        height: 200vw;
        width: 100%;
       
    }

    main{
        height: 140vw; 
        margin-bottom: 30px;
    }

    

    #logo img{
        width: 40%;
        height: auto;
    }
    
    #logo{
        width: 30%;
        text-align: center;
        height: 100%;
    
    }
    
    #titulo{
        width: 70%;
        height: 100%;
        text-align: left;
    }

    #form{
        display: none;
    }

    .seleccionado{
        color: $colorPrimario_oscuro;
    }

    .contenido{
        margin-bottom: 60px;
    }

    footer{
        border: solid 1px black;
        padding: 2%;
        justify-content: right;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        font-family: $tipografia_encabezado;
        display: flex;
        height: 60px;
        background-color: $colorPrimario;
    }
}

