$colorPrimario: #1e88e5;
$colorPrimario_claro: #6ab7ff;
$colorPrimario_oscuro: #005cb2;
$colorSecundario: #9e9e9e; 
$colorSecundario_claro: #cfcfcf;
$colorSecundario_oscuro: #707070;
$tipografia_encabezado: 'Roboto Slab', serif;
$tipografia_parrafo: 'Oswald', sans-serif;