@import 'variables';

*{
    box-sizing: border-box;
}
body{
    width: 100%;
}

header {
    display: $flex;
    justify-content: space-between;
    background-color: $colorPrimario;
}

header ul li{
    display: inline-flex;
    justify-content: left;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

header img {
    width: 70px;
    height: 100px;
}

header li:hover{
    background-color: $colorSecundario;
}

main{
    display: $flex;
    background-color: $colorSecundario;
    justify-content: space-between;
    flex-wrap: wrap;
}

main section{
    display: inline-flex;
    flex-direction: column;
    width: 25%;
    
}

main section img {
    padding: 1%;
    width: 100%;
}

.menuGrande{
    align-items: center;
}

.menuPeque{
    display: none;
}

footer{
    background-color: $colorPrimario;
}

@media (max-width: 800px) {
    header h1 {
        display: none;
    }

    .menuGrande{
        display: none;
    }

    .menuPeque{
        display: inline-flex;
    }

    main section{
        display: inline-flex;
        flex-direction: column;
        width: 50%;
    }
}

@media (max-width: 600px) {
    header h1 {
        display: none;
    }

    .menuGrande{
        display: none;
    }

    .menuPeque{
        display: inline-flex;
    }

    main section{
        display: inline-flex;
        flex-direction: column;
        width: 100%;
        
    }
}

